# VS Code
.vscode

# macOS
.DS_Store

# Python
build
venv
.ipynb_checkpoints
*.egg-info
*.egg
*.pyc
.pytest_cache
__pycache__

# data
*.npz
*.zip
*.pt
*.csv

# wandb
wandb

# mypy
.mypy_cache

# logs
outputs

# profiling
*.html

# results
img/media

# figures
*.pdf