[MASTER]
extension-pkg-whitelist=pygame

[BASIC]
good-names=x,y,u,k,ax,to,rs,bn,z,mu,i,v
max-args = 15
max-locals = 20

[FORMAT]
max-line-length=120

[DESIGN]
max-attributes = 15

[TYPECHECK]
generated-members=torch.*