[MASTER]
extension-pkg-whitelist=cv2

[BASIC]
good-names=x,xs,x0,y,ys,y0,w,h,u,k,ax,to,rs,bn,z,mu,i,j,v,lr,a,b,tx,c,d,ty,ox,oy,sx,sy
max-args = 15
max-locals = 20

[FORMAT]
max-line-length=120

[DESIGN]
max-attributes = 15

[TYPECHECK]
generated-members=torch.*

[MESSAGES CONTROL]
disable=duplicate-code