defaults:
 - _self_
 - dataset: idsprites
 - model: regressor
 - strategy: naive

project:
  name: disco

hydra:
  run:
    dir: ${oc.env:WORK}/${project.name}/hydra/${now:%Y-%m-%d}/${now:%H-%M-%S}

training:
  strategy: naive
  reset_model: false
  callbacks: [checkpointing, learning_rate_monitor, logging, metrics, timer, visualization]
  lr: 0.001
  test_once: false
  test_every_n_tasks: 1
  checkpoint_every_n_tasks: 10
  epochs_per_task: 5
  validate: true
  log_train_accuracy: false
  log_val_accuracy: false
  log_test_accuracy: true

trainer:
  _target_: lightning.pytorch.Trainer
  default_root_dir: ${oc.env:WORK}/${project.name}/lightning
  enable_checkpointing: true
  enable_progress_bar: false
  max_epochs: ${training.epochs_per_task}
  log_every_n_steps: 1
  logger: ${wandb}
  strategy: auto
  accumulate_grad_batches: 1
  devices: -1
  num_nodes: 1

wandb:
  _target_: lightning.pytorch.loggers.WandbLogger
  save_dir: ${oc.env:WORK}/${project.name}/wandb
  project: ${project.name}
  group: null
  mode: online
  notes: null
  name: null